
.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    background-color: #f9f9f9;
    width: 100%; /* Szerokość kontenera */
    text-align: center; /* Wyrównanie tekstu do środka */
    z-index: 1000;
}

.ActionButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #007bff; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    border: none; /* Bez obramowania */
    border-radius: 5px; /* Zaokrąglone rogi */
    transition: background-color 0.3s ease; /* Animacja przy przejściu */
}

.ActionButton:hover {
    background-color: #0056b3; /* Kolor tła przycisku po najechaniu */
}

.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    background-color: #f9f9f9;
    width: 100%; /* Szerokość kontenera */
    text-align: center; /* Wyrównanie tekstu do środka */
    z-index: 1000;
}




