.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 12px;
    color: #000;
    background-color: #f9f9f9;
    width: 100%; /* Szerokość kontenera */
    text-align: left; /* Wyrównanie tekstu do lewej strony */
    z-index: 1000;
}
.Button {
    margin-top: 1rem;
}

.RentingButton {
    background-color: #007bff; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    border: none; /* Bez obramowania */
    padding: 0.5rem 1rem; /* Wewnętrzne odstępy */
    border-radius: 0.25rem; /* Zaokrąglone rogi */
    transition: background-color 0.3s ease; /* Animacja przy przejściu */
}

.RentingButton:hover {
    background-color: #0056b3; /* Kolor tła przycisku po najechaniu */
}

@media (max-width: 768px) {
    .Form {
        grid-template-columns: 1fr; /* Jedna kolumna na małych ekranach */
    }


}