.TableHeader {
    background-color: #f1f1f1;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

.HeaderCell {
    padding: 10px 5px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.TableRow {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.RowCell {
    padding: 10px 5px;
    text-align: center;
    font-size: 0.9rem;
}

.TableRow:nth-of-type(even) {
    background-color: #fafafa;
}
